@media (min-width: 0) {
  .xs-p-0 {
    padding: 0px !important;
  }
  .xs-pt-0 {
    padding-top: 0px !important;
  }
  .xs-pl-0 {
    padding-left: 0px !important;
  }
  .xs-pr-0 {
    padding-right: 0px !important;
  }
  .xs-pb-0 {
    padding-bottom: 0px !important;
  }
  .xs-ptb-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .xs-plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .xs-m-0 {
    margin: 0px !important;
  }
  .xs-mt-0 {
    margin-top: 0px !important;
  }
  .xs-ml-0 {
    margin-left: 0px !important;
  }
  .xs-mr-0 {
    margin-right: 0px !important;
  }
  .xs-mb-0 {
    margin-bottom: 0px !important;
  }
  .xs-mtb-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .xs-mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .xs-p-5 {
    padding: 5px !important;
  }
  .xs-pt-5 {
    padding-top: 5px !important;
  }
  .xs-pl-5 {
    padding-left: 5px !important;
  }
  .xs-pr-5 {
    padding-right: 5px !important;
  }
  .xs-pb-5 {
    padding-bottom: 5px !important;
  }
  .xs-ptb-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .xs-plr-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .xs-m-5 {
    margin: 5px !important;
  }
  .xs-mt-5 {
    margin-top: 5px !important;
  }
  .xs-ml-5 {
    margin-left: 5px !important;
  }
  .xs-mr-5 {
    margin-right: 5px !important;
  }
  .xs-mb-5 {
    margin-bottom: 5px !important;
  }
  .xs-mtb-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .xs-mlr-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .xs-p-10 {
    padding: 10px !important;
  }
  .xs-pt-10 {
    padding-top: 10px !important;
  }
  .xs-pl-10 {
    padding-left: 10px !important;
  }
  .xs-pr-10 {
    padding-right: 10px !important;
  }
  .xs-pb-10 {
    padding-bottom: 10px !important;
  }
  .xs-ptb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .xs-plr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .xs-m-10 {
    margin: 10px !important;
  }
  .xs-mt-10 {
    margin-top: 10px !important;
  }
  .xs-ml-10 {
    margin-left: 10px !important;
  }
  .xs-mr-10 {
    margin-right: 10px !important;
  }
  .xs-mb-10 {
    margin-bottom: 10px !important;
  }
  .xs-mtb-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .xs-mlr-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .xs-p-15 {
    padding: 15px !important;
  }
  .xs-pt-15 {
    padding-top: 15px !important;
  }
  .xs-pl-15 {
    padding-left: 15px !important;
  }
  .xs-pr-15 {
    padding-right: 15px !important;
  }
  .xs-pb-15 {
    padding-bottom: 15px !important;
  }
  .xs-ptb-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .xs-plr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .xs-m-15 {
    margin: 15px !important;
  }
  .xs-mt-15 {
    margin-top: 15px !important;
  }
  .xs-ml-15 {
    margin-left: 15px !important;
  }
  .xs-mr-15 {
    margin-right: 15px !important;
  }
  .xs-mb-15 {
    margin-bottom: 15px !important;
  }
  .xs-mtb-15 {
    margin-bottom: 15px !important;
  }
  .xs-mlr-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .xs-p-20 {
    padding: 20px !important;
  }
  .xs-pt-20 {
    padding-top: 20px !important;
  }
  .xs-pl-20 {
    padding-left: 20px !important;
  }
  .xs-pr-20 {
    padding-right: 20px !important;
  }
  .xs-pb-20 {
    padding-bottom: 20px !important;
  }
  .xs-ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px !important;
  }
  .xs-plr-20 {
    padding-left: 20px;
    padding-right: 20px !important;
  }
  .xs-m-20 {
    margin: 20px !important;
  }
  .xs-mt-20 {
    margin-top: 20px !important;
  }
  .xs-ml-20 {
    margin-left: 20px !important;
  }
  .xs-mr-20 {
    margin-right: 20px !important;
  }
  .xs-mb-20 {
    margin-bottom: 20px !important;
  }
  .xs-mtb-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .xs-mlr-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .xs-p-30 {
    padding: 30px !important;
  }
  .xs-pt-30 {
    padding-top: 30px !important;
  }
  .xs-pl-30 {
    padding-left: 30px !important;
  }
  .xs-pr-30 {
    padding-right: 30px !important;
  }
  .xs-pb-30 {
    padding-bottom: 30px !important;
  }
  .xs-ptb-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .xs-plr-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .xs-m-30 {
    margin: 30px !important;
  }
  .xs-mt-30 {
    margin-top: 30px !important;
  }
  .xs-ml-30 {
    margin-left: 30px !important;
  }
  .xs-mr-30 {
    margin-right: 30px !important;
  }
  .xs-mb-30 {
    margin-bottom: 30px !important;
  }
  .xs-mtb-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .xs-mlr-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .xs-p-40 {
    padding: 40px !important;
  }
  .xs-pt-40 {
    padding-top: 40px !important;
  }
  .xs-pl-40 {
    padding-left: 40px !important;
  }
  .xs-pr-40 {
    padding-right: 40px !important;
  }
  .xs-pb-40 {
    padding-bottom: 40px !important;
  }
  .xs-ptb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .xs-plr-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .xs-m-40 {
    margin: 40px !important;
  }
  .xs-mt-40 {
    margin-top: 40px !important;
  }
  .xs-ml-40 {
    margin-left: 40px !important;
  }
  .xs-mr-40 {
    margin-right: 40px !important;
  }
  .xs-mb-40 {
    margin-bottom: 40px !important;
  }
  .xs-mtb-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .xs-mlr-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .xs-p-50 {
    padding: 50px !important;
  }
  .xs-pt-50 {
    padding-top: 50px !important;
  }
  .xs-pl-50 {
    padding-left: 50px !important;
  }
  .xs-pr-50 {
    padding-right: 50px !important;
  }
  .xs-pb-50 {
    padding-bottom: 50px !important;
  }
  .xs-ptb-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .xs-plr-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .xs-m-50 {
    margin: 50px !important;
  }
  .xs-mt-50 {
    margin-top: 50px !important;
  }
  .xs-ml-50 {
    margin-left: 50px !important;
  }
  .xs-mr-50 {
    margin-right: 50px !important;
  }
  .xs-mb-50 {
    margin-bottom: 50px !important;
  }
  .xs-mtb-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .xs-mlr-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .xs-p-60 {
    padding: 60px !important;
  }
  .xs-pt-60 {
    padding-top: 60px !important;
  }
  .xs-pl-60 {
    padding-left: 60px !important;
  }
  .xs-pr-60 {
    padding-right: 60px !important;
  }
  .xs-pb-60 {
    padding-bottom: 60px !important;
  }
  .xs-ptb-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .xs-plr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .xs-m-60 {
    margin: 60px !important;
  }
  .xs-mt-60 {
    margin-top: 60px !important;
  }
  .xs-ml-60 {
    margin-left: 60px !important;
  }
  .xs-mr-60 {
    margin-right: 60px !important;
  }
  .xs-mb-60 {
    margin-bottom: 70px !important;
  }
  .xs-mtb-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .xs-mlr-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
  .xs-p-70 {
    padding: 70px !important;
  }
  .xs-pt-70 {
    padding-top: 70px !important;
  }
  .xs-pl-70 {
    padding-left: 70px !important;
  }
  .xs-pr-70 {
    padding-right: 70px !important;
  }
  .xs-pb-70 {
    padding-bottom: 70px !important;
  }
  .xs-ptb-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  .xs-plr-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .xs-m-70 {
    margin: 70px !important;
  }
  .xs-mt-70 {
    margin-top: 70px !important;
  }
  .xs-ml-70 {
    margin-left: 70px !important;
  }
  .xs-mr-70 {
    margin-right: 70px !important;
  }
  .xs-mb-70 {
    margin-bottom: 70px !important;
  }
  .xs-mtb-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .xs-mlr-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
  }
  .xs-p-80 {
    padding: 80px !important;
  }
  .xs-pt-80 {
    padding-top: 80px !important;
  }
  .xs-pl-80 {
    padding-left: 80px !important;
  }
  .xs-pr-80 {
    padding-right: 80px !important;
  }
  .xs-pb-80 {
    padding-bottom: 80px !important;
  }
  .xs-ptb-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .xs-plr-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .xs-m-80 {
    margin: 80px !important;
  }
  .xs-mt-80 {
    margin-top: 80px !important;
  }
  .xs-ml-80 {
    margin-left: 80px !important;
  }
  .xs-mr-80 {
    margin-right: 80px !important;
  }
  .xs-mb-80 {
    margin-bottom: 80px !important;
  }
  .xs-mtb-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .xs-mlr-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
  .xs-p-90 {
    padding: 90px !important;
  }
  .xs-pt-90 {
    padding-top: 90px !important;
  }
  .xs-pl-90 {
    padding-left: 90px !important;
  }
  .xs-pr-90 {
    padding-right: 90px !important;
  }
  .xs-pb-90 {
    padding-bottom: 90px !important;
  }
  .xs-ptb-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  .xs-plr-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  .xs-m-90 {
    margin: 90px !important;
  }
  .xs-mt-90 {
    margin-top: 90px !important;
  }
  .xs-ml-90 {
    margin-left: 90px !important;
  }
  .xs-mr-90 {
    margin-right: 90px !important;
  }
  .xs-mb-90 {
    margin-bottom: 90px !important;
  }
  .xs-mtb-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  .xs-mlr-90 {
    margin-left: 90px !important;
    margin-right: 90px !important;
  }
  .xs-p-100 {
    padding: 100px !important;
  }
  .xs-pt-100 {
    padding-top: 100px !important;
  }
  .xs-pl-100 {
    padding-left: 100px !important;
  }
  .xs-pr-100 {
    padding-right: 100px !important;
  }
  .xs-pb-100 {
    padding-bottom: 100px !important;
  }
  .xs-ptb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  .xs-plr-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .xs-m-100 {
    margin: 100px !important;
  }
  .xs-mt-100 {
    margin-top: 100px !important;
  }
  .xs-ml-100 {
    margin-left: 100px !important;
  }
  .xs-mr-100 {
    margin-right: 100px !important;
  }
  .xs-mb-100 {
    margin-bottom: 100px !important;
  }
  .xs-mtb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  .xs-mlr-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
}
@media (min-width: 480px) {
  .sm-p-0 {
    padding: 0px !important;
  }
  .sm-pt-0 {
    padding-top: 0px !important;
  }
  .sm-pl-0 {
    padding-left: 0px !important;
  }
  .sm-pr-0 {
    padding-right: 0px !important;
  }
  .sm-pb-0 {
    padding-bottom: 0px !important;
  }
  .sm-ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
  .sm-plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .sm-m-0 {
    margin: 0px !important;
  }
  .sm-mt-0 {
    margin-top: 0px !important;
  }
  .sm-ml-0 {
    margin-left: 0px !important;
  }
  .sm-mr-0 {
    margin-right: 0px !important;
  }
  .sm-mb-0 {
    margin-bottom: 0px !important;
  }
  .sm-mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }
  .sm-mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .sm-p-5 {
    padding: 5px !important;
  }
  .sm-pt-5 {
    padding-top: 5px !important;
  }
  .sm-pl-5 {
    padding-left: 5px !important;
  }
  .sm-pr-5 {
    padding-right: 5px !important;
  }
  .sm-pb-5 {
    padding-bottom: 5px !important;
  }
  .sm-ptb-5 {
    padding-top: 5px!important;
    padding-bottom: 5px !important;
  }
  .sm-plr-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .sm-m-5 {
    margin: 5px !important;
  }
  .sm-mt-5 {
    margin-top: 5px !important;
  }
  .sm-ml-5 {
    margin-left: 5px !important;
  }
  .sm-mr-5 {
    margin-right: 5px !important;
  }
  .sm-mb-5 {
    margin-bottom: 5px !important;
  }
  .sm-mtb-5 {
    margin-top: 5px!important;
    margin-bottom: 5px !important;
  }
  .sm-mlr-5 {
     margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .sm-p-10 {
    padding: 10px !important;
  }
  .sm-pt-10 {
    padding-top: 10px !important;
  }
  .sm-pl-10 {
    padding-left: 10px !important;
  }
  .sm-pr-10 {
    padding-right: 10px !important;
  }
  .sm-pb-10 {
    padding-bottom: 10px !important;
  }
  .sm-ptb-10 {
    padding-top: 10px!important;
    padding-bottom: 10px !important;
  }
  .sm-plr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .sm-m-10 {
    margin: 10px !important;
  }
  .sm-mt-10 {
    margin-top: 10px !important;
  }
  .sm-ml-10 {
    margin-left: 10px !important;
  }
  .sm-mr-10 {
    margin-right: 10px !important;
  }
  .sm-mb-10 {
    margin-bottom: 10px !important;
  }
  .sm-mtb-10 {
    margin-top: 10px!important;
    margin-bottom: 10px !important;
  }
  .sm-mlr-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .sm-p-15 {
    padding: 15px !important;
  }
  .sm-pt-15 {
    padding-top: 15px !important;
  }
  .sm-pl-15 {
    padding-left: 15px !important;
  }
  .sm-pr-15 {
    padding-right: 15px !important;
  }
  .sm-pb-15 {
    padding-bottom: 15px !important;
  }
  .sm-ptb-15 {
    padding-top: 15px!important;
    padding-bottom: 15px !important;
  }
  .sm-plr-15 {
    padding-left: 15px!important;
    padding-right: 15px !important;
  }
  .sm-m-15 {
    margin: 15px !important;
  }
  .sm-mt-15 {
    margin-top: 15px !important;
  }
  .sm-ml-15 {
    margin-left: 15px !important;
  }
  .sm-mr-15 {
    margin-right: 15px !important;
  }
  .sm-mb-15 {
    margin-bottom: 15px !important;
  }
  .sm-mtb-15 {
    margin-bottom: 15px!important;
    margin-bottom: 15px !important;
  }
  .sm-mlr-15 {
    margin-left: 15px!important;
    margin-right: 15px !important;
  }
  .sm-p-20 {
    padding: 20px !important;
  }
  .sm-pt-20 {
    padding-top: 20px !important;
  }
  .sm-pl-20 {
    padding-left: 20px !important;
  }
  .sm-pr-20 {
    padding-right: 20px !important;
  }
  .sm-pb-20 {
    padding-bottom: 20px !important;
  }
  .sm-ptb-20 {
    padding-top: 20px!important;
    padding-bottom: 20px !important;
  }
  .sm-plr-20 {
    padding-left: 20px!important;
    padding-right: 20px !important;
  }
  .sm-m-20 {
    margin: 20px !important;
  }
  .sm-mt-20 {
    margin-top: 20px !important;
  }
  .sm-ml-20 {
    margin-left: 20px !important;
  }
  .sm-mr-20 {
    margin-right: 20px !important;
  }
  .sm-mb-20 {
    margin-bottom: 20px !important;
  }
  .sm-mtb-20 {
    margin-top: 20px!important;
    margin-bottom: 20px !important;
  }
  .sm-mlr-20 {
    margin-left: 20px!important;
    margin-right: 20px !important;
  }
  .sm-p-30 {
    padding: 30px !important;
  }
  .sm-pt-30 {
    padding-top: 30px !important;
  }
  .sm-pl-30 {
    padding-left: 30px !important;
  }
  .sm-pr-30 {
    padding-right: 30px !important;
  }
  .sm-pb-30 {
    padding-bottom: 30px !important;
  }
  .sm-ptb-30 {
    padding-top: 30px!important;
    padding-bottom: 30px !important;
  }
  .sm-plr-30 {
    padding-left: 30px!important;
    padding-right: 30px !important;
  }
  .sm-m-30 {
    margin: 30px !important;
  }
  .sm-mt-30 {
    margin-top: 30px !important;
  }
  .sm-ml-30 {
    margin-left: 30px !important;
  }
  .sm-mr-30 {
    margin-right: 30px !important;
  }
  .sm-mb-30 {
    margin-bottom: 30px !important;
  }
  .sm-mtb-30 {
    margin-top: 30px!important;
    margin-bottom: 30px !important;
  }
  .sm-mlr-30 {
    margin-left: 30px!important;
    margin-right: 30px !important;
  }
  .sm-p-40 {
    padding: 40px !important;
  }
  .sm-pt-40 {
    padding-top: 40px !important;
  }
  .sm-pl-40 {
    padding-left: 40px !important;
  }
  .sm-pr-40 {
    padding-right: 40px !important;
  }
  .sm-pb-40 {
    padding-bottom: 40px !important;
  }
  .sm-ptb-40 {
    padding-top: 40px!important;
    padding-bottom: 40px !important;
  }
  .sm-plr-40 {
    padding-left: 40px!important;
    padding-right: 40px !important;
  }
  .sm-m-40 {
    margin: 40px !important;
  }
  .sm-mt-40 {
    margin-top: 40px !important;
  }
  .sm-ml-40 {
    margin-left: 40px !important;
  }
  .sm-mr-40 {
    margin-right: 40px !important;
  }
  .sm-mb-40 {
    margin-bottom: 40px !important;
  }
  .sm-mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px !important;
  }
  .sm-p-50 {
    padding: 50px !important;
  }
  .sm-pt-50 {
    padding-top: 50px !important;
  }
  .sm-pl-50 {
    padding-left: 50px !important;
  }
  .sm-pr-50 {
    padding-right: 50px !important;
  }
  .sm-pb-50 {
    padding-bottom: 50px !important;
  }
  .sm-ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px !important;
  }
  .sm-m-50 {
    margin: 50px !important;
  }
  .sm-mt-50 {
    margin-top: 50px !important;
  }
  .sm-ml-50 {
    margin-left: 50px !important;
  }
  .sm-mr-50 {
    margin-right: 50px !important;
  }
  .sm-mb-50 {
    margin-bottom: 50px !important;
  }
  .sm-mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }
  .sm-p-60 {
    padding: 60px !important;
  }
  .sm-pt-60 {
    padding-top: 60px !important;
  }
  .sm-pl-60 {
    padding-left: 60px !important;
  }
  .sm-pr-60 {
    padding-right: 60px !important;
  }
  .sm-pb-60 {
    padding-bottom: 60px !important;
  }
  .sm-ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px !important;
  }
  .sm-m-60 {
    margin: 60px !important;
  }
  .sm-mt-60 {
    margin-top: 60px !important;
  }
  .sm-ml-60 {
    margin-left: 60px !important;
  }
  .sm-mr-60 {
    margin-right: 60px !important;
  }
  .sm-mb-60 {
    margin-bottom: 70px !important;
  }
  .sm-mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px !important;
  }
  .sm-p-70 {
    padding: 70px !important;
  }
  .sm-pt-70 {
    padding-top: 70px !important;
  }
  .sm-pl-70 {
    padding-left: 70px !important;
  }
  .sm-pr-70 {
    padding-right: 70px !important;
  }
  .sm-pb-70 {
    padding-bottom: 70px !important;
  }
  .sm-ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px !important;
  }
  .sm-m-70 {
    margin: 70px !important;
  }
  .sm-mt-70 {
    margin-top: 70px !important;
  }
  .sm-ml-70 {
    margin-left: 70px !important;
  }
  .sm-mr-70 {
    margin-right: 70px !important;
  }
  .sm-mb-70 {
    margin-bottom: 70px !important;
  }
  .sm-mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px !important;
  }
  .sm-p-80 {
    padding: 80px !important;
  }
  .sm-pt-80 {
    padding-top: 80px !important;
  }
  .sm-pl-80 {
    padding-left: 80px !important;
  }
  .sm-pr-80 {
    padding-right: 80px !important;
  }
  .sm-pb-80 {
    padding-bottom: 80px !important;
  }
  .sm-ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px !important;
  }
  .sm-m-80 {
    margin: 80px !important;
  }
  .sm-mt-80 {
    margin-top: 80px !important;
  }
  .sm-ml-80 {
    margin-left: 80px !important;
  }
  .sm-mr-80 {
    margin-right: 80px !important;
  }
  .sm-mb-80 {
    margin-bottom: 80px !important;
  }
  .sm-mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px !important;
  }
  .sm-p-90 {
    padding: 90px !important;
  }
  .sm-pt-90 {
    padding-top: 90px !important;
  }
  .sm-pl-90 {
    padding-left: 90px !important;
  }
  .sm-pr-90 {
    padding-right: 90px !important;
  }
  .sm-pb-90 {
    padding-bottom: 90px !important;
  }
  .sm-ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px !important;
  }
  .sm-m-90 {
    margin: 90px !important;
  }
  .sm-mt-90 {
    margin-top: 90px !important;
  }
  .sm-ml-90 {
    margin-left: 90px !important;
  }
  .sm-mr-90 {
    margin-right: 90px !important;
  }
  .sm-mb-90 {
    margin-bottom: 90px !important;
  }
  .sm-mtb-90 {
    margin-top: 90px;
    margin-bottom: 90px !important;
  }
  .sm-p-100 {
    padding: 100px !important;
  }
  .sm-pt-100 {
    padding-top: 100px !important;
  }
  .sm-pl-100 {
    padding-left: 100px !important;
  }
  .sm-pr-100 {
    padding-right: 100px !important;
  }
  .sm-pb-100 {
    padding-bottom: 100px !important;
  }
  .sm-ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px !important;
  }
  .sm-m-100 {
    margin: 100px !important;
  }
  .sm-mt-100 {
    margin-top: 100px !important;
  }
  .sm-ml-100 {
    margin-left: 100px !important;
  }
  .sm-mr-100 {
    margin-right: 100px !important;
  }
  .sm-mb-100 {
    margin-bottom: 100px !important;
  }
  .sm-mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px !important;
  }
}
@media (min-width: 768px) {
  .md-p-0 {
    padding: 0px !important;
  }
  .md-pt-0 {
    padding-top: 0px !important;
  }
  .md-pl-0 {
    padding-left: 0px !important;
  }
  .md-pr-0 {
    padding-right: 0px !important;
  }
  .md-pb-0 {
    padding-bottom: 0px !important;
  }
  .md-ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
  .md-m-0 {
    margin: 0px !important;
  }
  .md-mt-0 {
    margin-top: 0px !important;
  }
  .md-ml-0 {
    margin-left: 0px !important;
  }
  .md-mr-0 {
    margin-right: 0px !important;
  }
  .md-mb-0 {
    margin-bottom: 0px !important;
  }
  .md-mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }
  .md-p-5 {
    padding: 5px !important;
  }
  .md-pt-5 {
    padding-top: 5px !important;
  }
  .md-pl-5 {
    padding-left: 5px !important;
  }
  .md-pr-5 {
    padding-right: 5px !important;
  }
  .md-pb-5 {
    padding-bottom: 5px !important;
  }
  .md-ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px !important;
  }
  .md-m-5 {
    margin: 5px !important;
  }
  .md-mt-5 {
    margin-top: 5px !important;
  }
  .md-ml-5 {
    margin-left: 5px !important;
  }
  .md-mr-5 {
    margin-right: 5px !important;
  }
  .md-mb-5 {
    margin-bottom: 5px !important;
  }
  .md-mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px !important;
  }
  .md-p-10 {
    padding: 10px !important;
  }
  .md-pt-10 {
    padding-top: 10px !important;
  }
  .md-pl-10 {
    padding-left: 10px !important;
  }
  .md-pr-10 {
    padding-right: 10px !important;
  }
  .md-pb-10 {
    padding-bottom: 10px !important;
  }
  .md-ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }
  .md-m-10 {
    margin: 10px !important;
  }
  .md-mt-10 {
    margin-top: 10px !important;
  }
  .md-ml-10 {
    margin-left: 10px !important;
  }
  .md-mr-10 {
    margin-right: 10px !important;
  }
  .md-mb-10 {
    margin-bottom: 10px !important;
  }
  .md-mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px !important;
  }
  .md-p-15 {
    padding: 15px !important;
  }
  .md-pt-15 {
    padding-top: 15px !important;
  }
  .md-pl-15 {
    padding-left: 15px !important;
  }
  .md-pr-15 {
    padding-right: 15px !important;
  }
  .md-pb-15 {
    padding-bottom: 15px !important;
  }
  .md-ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px !important;
  }
  .md-m-15 {
    margin: 15px !important;
  }
  .md-mt-15 {
    margin-top: 15px !important;
  }
  .md-ml-15 {
    margin-left: 15px !important;
  }
  .md-mr-15 {
    margin-right: 15px !important;
  }
  .md-mb-15 {
    margin-bottom: 15px !important;
  }
  .md-mtb-15 {
    margin-bottom: 15px;
    margin-bottom: 15px !important;
  }
  .md-p-20 {
    padding: 20px !important;
  }
  .md-pt-20 {
    padding-top: 20px !important;
  }
  .md-pl-20 {
    padding-left: 20px !important;
  }
  .md-pr-20 {
    padding-right: 20px !important;
  }
  .md-pb-20 {
    padding-bottom: 20px !important;
  }
  .md-ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px !important;
  }
  .md-m-20 {
    margin: 20px !important;
  }
  .md-mt-20 {
    margin-top: 20px !important;
  }
  .md-ml-20 {
    margin-left: 20px !important;
  }
  .md-mr-20 {
    margin-right: 20px !important;
  }
  .md-mb-20 {
    margin-bottom: 20px !important;
  }
  .md-mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .md-p-30 {
    padding: 30px !important;
  }
  .md-pt-30 {
    padding-top: 30px !important;
  }
  .md-pl-30 {
    padding-left: 30px !important;
  }
  .md-pr-30 {
    padding-right: 30px !important;
  }
  .md-pb-30 {
    padding-bottom: 30px !important;
  }
  .md-ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px !important;
  }
  .md-m-30 {
    margin: 30px !important;
  }
  .md-mt-30 {
    margin-top: 30px !important;
  }
  .md-ml-30 {
    margin-left: 30px !important;
  }
  .md-mr-30 {
    margin-right: 30px !important;
  }
  .md-mb-30 {
    margin-bottom: 30px !important;
  }
  .md-mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px !important;
  }
  .md-p-40 {
    padding: 40px !important;
  }
  .md-pt-40 {
    padding-top: 40px !important;
  }
  .md-pl-40 {
    padding-left: 40px !important;
  }
  .md-pr-40 {
    padding-right: 40px !important;
  }
  .md-pb-40 {
    padding-bottom: 40px !important;
  }
  .md-ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px !important;
  }
  .md-m-40 {
    margin: 40px !important;
  }
  .md-mt-40 {
    margin-top: 40px !important;
  }
  .md-ml-40 {
    margin-left: 40px !important;
  }
  .md-mr-40 {
    margin-right: 40px !important;
  }
  .md-mb-40 {
    margin-bottom: 40px !important;
  }
  .md-mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px !important;
  }
  .md-p-50 {
    padding: 50px !important;
  }
  .md-pt-50 {
    padding-top: 50px !important;
  }
  .md-pl-50 {
    padding-left: 50px !important;
  }
  .md-pr-50 {
    padding-right: 50px !important;
  }
  .md-pb-50 {
    padding-bottom: 50px !important;
  }
  .md-ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px !important;
  }
  .md-m-50 {
    margin: 50px !important;
  }
  .md-mt-50 {
    margin-top: 50px !important;
  }
  .md-ml-50 {
    margin-left: 50px !important;
  }
  .md-mr-50 {
    margin-right: 50px !important;
  }
  .md-mb-50 {
    margin-bottom: 50px !important;
  }
  .md-mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }
  .md-p-60 {
    padding: 60px !important;
  }
  .md-pt-60 {
    padding-top: 60px !important;
  }
  .md-pl-60 {
    padding-left: 60px !important;
  }
  .md-pr-60 {
    padding-right: 60px !important;
  }
  .md-pb-60 {
    padding-bottom: 60px !important;
  }
  .md-ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px !important;
  }
  .md-m-60 {
    margin: 60px !important;
  }
  .md-mt-60 {
    margin-top: 60px !important;
  }
  .md-ml-60 {
    margin-left: 60px !important;
  }
  .md-mr-60 {
    margin-right: 60px !important;
  }
  .md-mb-60 {
    margin-bottom: 70px !important;
  }
  .md-mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px !important;
  }
  .md-p-70 {
    padding: 70px !important;
  }
  .md-pt-70 {
    padding-top: 70px !important;
  }
  .md-pl-70 {
    padding-left: 70px !important;
  }
  .md-pr-70 {
    padding-right: 70px !important;
  }
  .md-pb-70 {
    padding-bottom: 70px !important;
  }
  .md-ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px !important;
  }
  .md-m-70 {
    margin: 70px !important;
  }
  .md-mt-70 {
    margin-top: 70px !important;
  }
  .md-ml-70 {
    margin-left: 70px !important;
  }
  .md-mr-70 {
    margin-right: 70px !important;
  }
  .md-mb-70 {
    margin-bottom: 70px !important;
  }
  .md-mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px !important;
  }
  .md-p-80 {
    padding: 80px !important;
  }
  .md-pt-80 {
    padding-top: 80px !important;
  }
  .md-pl-80 {
    padding-left: 80px !important;
  }
  .md-pr-80 {
    padding-right: 80px !important;
  }
  .md-pb-80 {
    padding-bottom: 80px !important;
  }
  .md-ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px !important;
  }
  .md-m-80 {
    margin: 80px !important;
  }
  .md-mt-80 {
    margin-top: 80px !important;
  }
  .md-ml-80 {
    margin-left: 80px !important;
  }
  .md-mr-80 {
    margin-right: 80px !important;
  }
  .md-mb-80 {
    margin-bottom: 80px !important;
  }
  .md-mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px !important;
  }
  .md-p-90 {
    padding: 90px !important;
  }
  .md-pt-90 {
    padding-top: 90px !important;
  }
  .md-pl-90 {
    padding-left: 90px !important;
  }
  .md-pr-90 {
    padding-right: 90px !important;
  }
  .md-pb-90 {
    padding-bottom: 90px !important;
  }
  .md-ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px !important;
  }
  .md-m-90 {
    margin: 90px !important;
  }
  .md-mt-90 {
    margin-top: 90px !important;
  }
  .md-ml-90 {
    margin-left: 90px !important;
  }
  .md-mr-90 {
    margin-right: 90px !important;
  }
  .md-mb-90 {
    margin-bottom: 90px !important;
  }
  .md-mtb-90 {
    margin-top: 90px;
    margin-bottom: 90px !important;
  }
  .md-p-100 {
    padding: 100px !important;
  }
  .md-pt-100 {
    padding-top: 100px !important;
  }
  .md-pl-100 {
    padding-left: 100px !important;
  }
  .md-pr-100 {
    padding-right: 100px !important;
  }
  .md-pb-100 {
    padding-bottom: 100px !important;
  }
  .md-ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px !important;
  }
  .md-m-100 {
    margin: 100px !important;
  }
  .md-mt-100 {
    margin-top: 100px !important;
  }
  .md-ml-100 {
    margin-left: 100px !important;
  }
  .md-mr-100 {
    margin-right: 100px !important;
  }
  .md-mb-100 {
    margin-bottom: 100px !important;
  }
  .md-mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px !important;
  }
}
@media (min-width: 992px) {
  .lg-p-0 {
    padding: 0px !important;
  }
  .lg-pt-0 {
    padding-top: 0px !important;
  }
  .lg-pl-0 {
    padding-left: 0px !important;
  }
  .lg-pr-0 {
    padding-right: 0px !important;
  }
  .lg-pb-0 {
    padding-bottom: 0px !important;
  }
  .lg-ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
  .lg-m-0 {
    margin: 0px !important;
  }
  .lg-mt-0 {
    margin-top: 0px !important;
  }
  .lg-ml-0 {
    margin-left: 0px !important;
  }
  .lg-mr-0 {
    margin-right: 0px !important;
  }
  .lg-mb-0 {
    margin-bottom: 0px !important;
  }
  .lg-mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }
  .lg-p-5 {
    padding: 5px !important;
  }
  .lg-pt-5 {
    padding-top: 5px !important;
  }
  .lg-pl-5 {
    padding-left: 5px !important;
  }
  .lg-pr-5 {
    padding-right: 5px !important;
  }
  .lg-pb-5 {
    padding-bottom: 5px !important;
  }
  .lg-ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px !important;
  }
  .lg-m-5 {
    margin: 5px !important;
  }
  .lg-mt-5 {
    margin-top: 5px !important;
  }
  .lg-ml-5 {
    margin-left: 5px !important;
  }
  .lg-mr-5 {
    margin-right: 5px !important;
  }
  .lg-mb-5 {
    margin-bottom: 5px !important;
  }
  .lg-mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px !important;
  }
  .lg-p-10 {
    padding: 10px !important;
  }
  .lg-pt-10 {
    padding-top: 10px !important;
  }
  .lg-pl-10 {
    padding-left: 10px !important;
  }
  .lg-pr-10 {
    padding-right: 10px !important;
  }
  .lg-pb-10 {
    padding-bottom: 10px !important;
  }
  .lg-ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }
  .lg-m-10 {
    margin: 10px !important;
  }
  .lg-mt-10 {
    margin-top: 10px !important;
  }
  .lg-ml-10 {
    margin-left: 10px !important;
  }
  .lg-mr-10 {
    margin-right: 10px !important;
  }
  .lg-mb-10 {
    margin-bottom: 10px !important;
  }
  .lg-mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px !important;
  }
  .lg-p-15 {
    padding: 15px !important;
  }
  .lg-pt-15 {
    padding-top: 15px !important;
  }
  .lg-pl-15 {
    padding-left: 15px !important;
  }
  .lg-pr-15 {
    padding-right: 15px !important;
  }
  .lg-pb-15 {
    padding-bottom: 15px !important;
  }
  .lg-ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px !important;
  }
  .lg-m-15 {
    margin: 15px !important;
  }
  .lg-mt-15 {
    margin-top: 15px !important;
  }
  .lg-ml-15 {
    margin-left: 15px !important;
  }
  .lg-mr-15 {
    margin-right: 15px !important;
  }
  .lg-mb-15 {
    margin-bottom: 15px !important;
  }
  .lg-mtb-15 {
    margin-bottom: 15px;
    margin-bottom: 15px !important;
  }
  .lg-p-20 {
    padding: 20px !important;
  }
  .lg-pt-20 {
    padding-top: 20px !important;
  }
  .lg-pl-20 {
    padding-left: 20px !important;
  }
  .lg-pr-20 {
    padding-right: 20px !important;
  }
  .lg-pb-20 {
    padding-bottom: 20px !important;
  }
  .lg-ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px !important;
  }
  .lg-m-20 {
    margin: 20px !important;
  }
  .lg-mt-20 {
    margin-top: 20px !important;
  }
  .lg-ml-20 {
    margin-left: 20px !important;
  }
  .lg-mr-20 {
    margin-right: 20px !important;
  }
  .lg-mb-20 {
    margin-bottom: 20px !important;
  }
  .lg-mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .lg-p-30 {
    padding: 30px !important;
  }
  .lg-pt-30 {
    padding-top: 30px !important;
  }
  .lg-pl-30 {
    padding-left: 30px !important;
  }
  .lg-pr-30 {
    padding-right: 30px !important;
  }
  .lg-pb-30 {
    padding-bottom: 30px !important;
  }
  .lg-ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px !important;
  }
  .lg-m-30 {
    margin: 30px !important;
  }
  .lg-mt-30 {
    margin-top: 30px !important;
  }
  .lg-ml-30 {
    margin-left: 30px !important;
  }
  .lg-mr-30 {
    margin-right: 30px !important;
  }
  .lg-mb-30 {
    margin-bottom: 30px !important;
  }
  .lg-mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px !important;
  }
  .lg-p-40 {
    padding: 40px !important;
  }
  .lg-pt-40 {
    padding-top: 40px !important;
  }
  .lg-pl-40 {
    padding-left: 40px !important;
  }
  .lg-pr-40 {
    padding-right: 40px !important;
  }
  .lg-pb-40 {
    padding-bottom: 40px !important;
  }
  .lg-ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px !important;
  }
  .lg-m-40 {
    margin: 40px !important;
  }
  .lg-mt-40 {
    margin-top: 40px !important;
  }
  .lg-ml-40 {
    margin-left: 40px !important;
  }
  .lg-mr-40 {
    margin-right: 40px !important;
  }
  .lg-mb-40 {
    margin-bottom: 40px !important;
  }
  .lg-mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px !important;
  }
  .lg-p-50 {
    padding: 50px !important;
  }
  .lg-pt-50 {
    padding-top: 50px !important;
  }
  .lg-pl-50 {
    padding-left: 50px !important;
  }
  .lg-pr-50 {
    padding-right: 50px !important;
  }
  .lg-pb-50 {
    padding-bottom: 50px !important;
  }
  .lg-ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px !important;
  }
  .lg-m-50 {
    margin: 50px !important;
  }
  .lg-mt-50 {
    margin-top: 50px !important;
  }
  .lg-ml-50 {
    margin-left: 50px !important;
  }
  .lg-mr-50 {
    margin-right: 50px !important;
  }
  .lg-mb-50 {
    margin-bottom: 50px !important;
  }
  .lg-mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }
  .lg-p-60 {
    padding: 60px !important;
  }
  .lg-pt-60 {
    padding-top: 60px !important;
  }
  .lg-pl-60 {
    padding-left: 60px !important;
  }
  .lg-pr-60 {
    padding-right: 60px !important;
  }
  .lg-pb-60 {
    padding-bottom: 60px !important;
  }
  .lg-ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px !important;
  }
  .lg-m-60 {
    margin: 60px !important;
  }
  .lg-mt-60 {
    margin-top: 60px !important;
  }
  .lg-ml-60 {
    margin-left: 60px !important;
  }
  .lg-mr-60 {
    margin-right: 60px !important;
  }
  .lg-mb-60 {
    margin-bottom: 70px !important;
  }
  .lg-mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px !important;
  }
  .lg-p-70 {
    padding: 70px !important;
  }
  .lg-pt-70 {
    padding-top: 70px !important;
  }
  .lg-pl-70 {
    padding-left: 70px !important;
  }
  .lg-pr-70 {
    padding-right: 70px !important;
  }
  .lg-pb-70 {
    padding-bottom: 70px !important;
  }
  .lg-ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px !important;
  }
  .lg-m-70 {
    margin: 70px !important;
  }
  .lg-mt-70 {
    margin-top: 70px !important;
  }
  .lg-ml-70 {
    margin-left: 70px !important;
  }
  .lg-mr-70 {
    margin-right: 70px !important;
  }
  .lg-mb-70 {
    margin-bottom: 70px !important;
  }
  .lg-mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px !important;
  }
  .lg-p-80 {
    padding: 80px !important;
  }
  .lg-pt-80 {
    padding-top: 80px !important;
  }
  .lg-pl-80 {
    padding-left: 80px !important;
  }
  .lg-pr-80 {
    padding-right: 80px !important;
  }
  .lg-pb-80 {
    padding-bottom: 80px !important;
  }
  .lg-ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px !important;
  }
  .lg-m-80 {
    margin: 80px !important;
  }
  .lg-mt-80 {
    margin-top: 80px !important;
  }
  .lg-ml-80 {
    margin-left: 80px !important;
  }
  .lg-mr-80 {
    margin-right: 80px !important;
  }
  .lg-mb-80 {
    margin-bottom: 80px !important;
  }
  .lg-mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px !important;
  }
  .lg-p-90 {
    padding: 90px !important;
  }
  .lg-pt-90 {
    padding-top: 90px !important;
  }
  .lg-pl-90 {
    padding-left: 90px !important;
  }
  .lg-pr-90 {
    padding-right: 90px !important;
  }
  .lg-pb-90 {
    padding-bottom: 90px !important;
  }
  .lg-ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px !important;
  }
  .lg-m-90 {
    margin: 90px !important;
  }
  .lg-mt-90 {
    margin-top: 90px !important;
  }
  .lg-ml-90 {
    margin-left: 90px !important;
  }
  .lg-mr-90 {
    margin-right: 90px !important;
  }
  .lg-mb-90 {
    margin-bottom: 90px !important;
  }
  .lg-mtb-90 {
    margin-top: 90px;
    margin-bottom: 90px !important;
  }
  .lg-p-100 {
    padding: 100px !important;
  }
  .lg-pt-100 {
    padding-top: 100px !important;
  }
  .lg-pl-100 {
    padding-left: 100px !important;
  }
  .lg-pr-100 {
    padding-right: 100px !important;
  }
  .lg-pb-100 {
    padding-bottom: 100px !important;
  }
  .lg-ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px !important;
  }
  .lg-m-100 {
    margin: 100px !important;
  }
  .lg-mt-100 {
    margin-top: 100px !important;
  }
  .lg-ml-100 {
    margin-left: 100px !important;
  }
  .lg-mr-100 {
    margin-right: 100px !important;
  }
  .lg-mb-100 {
    margin-bottom: 100px !important;
  }
  .lg-mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px !important;
  }
}
@media (min-width: 1600px) {
  .xl-p-0 {
    padding: 0px !important;
  }
  .xl-pt-0 {
    padding-top: 0px !important;
  }
  .xl-pl-0 {
    padding-left: 0px !important;
  }
  .xl-pr-0 {
    padding-right: 0px !important;
  }
  .xl-pb-0 {
    padding-bottom: 0px !important;
  }
  .xl-ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }
  .xl-m-0 {
    margin: 0px !important;
  }
  .xl-mt-0 {
    margin-top: 0px !important;
  }
  .xl-ml-0 {
    margin-left: 0px !important;
  }
  .xl-mr-0 {
    margin-right: 0px !important;
  }
  .xl-mb-0 {
    margin-bottom: 0px !important;
  }
  .xl-mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px !important;
  }
  .xl-p-5 {
    padding: 5px !important;
  }
  .xl-pt-5 {
    padding-top: 5px !important;
  }
  .xl-pl-5 {
    padding-left: 5px !important;
  }
  .xl-pr-5 {
    padding-right: 5px !important;
  }
  .xl-pb-5 {
    padding-bottom: 5px !important;
  }
  .xl-ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px !important;
  }
  .xl-m-5 {
    margin: 5px !important;
  }
  .xl-mt-5 {
    margin-top: 5px !important;
  }
  .xl-ml-5 {
    margin-left: 5px !important;
  }
  .xl-mr-5 {
    margin-right: 5px !important;
  }
  .xl-mb-5 {
    margin-bottom: 5px !important;
  }
  .xl-mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px !important;
  }
  .xl-p-10 {
    padding: 10px !important;
  }
  .xl-pt-10 {
    padding-top: 10px !important;
  }
  .xl-pl-10 {
    padding-left: 10px !important;
  }
  .xl-pr-10 {
    padding-right: 10px !important;
  }
  .xl-pb-10 {
    padding-bottom: 10px !important;
  }
  .xl-ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }
  .xl-m-10 {
    margin: 10px !important;
  }
  .xl-mt-10 {
    margin-top: 10px !important;
  }
  .xl-ml-10 {
    margin-left: 10px !important;
  }
  .xl-mr-10 {
    margin-right: 10px !important;
  }
  .xl-mb-10 {
    margin-bottom: 10px !important;
  }
  .xl-mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px !important;
  }
  .xl-p-15 {
    padding: 15px !important;
  }
  .xl-pt-15 {
    padding-top: 15px !important;
  }
  .xl-pl-15 {
    padding-left: 15px !important;
  }
  .xl-pr-15 {
    padding-right: 15px !important;
  }
  .xl-pb-15 {
    padding-bottom: 15px !important;
  }
  .xl-ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px !important;
  }
  .xl-m-15 {
    margin: 15px !important;
  }
  .xl-mt-15 {
    margin-top: 15px !important;
  }
  .xl-ml-15 {
    margin-left: 15px !important;
  }
  .xl-mr-15 {
    margin-right: 15px !important;
  }
  .xl-mb-15 {
    margin-bottom: 15px !important;
  }
  .xl-mtb-15 {
    margin-bottom: 15px;
    margin-bottom: 15px !important;
  }
  .xl-p-20 {
    padding: 20px !important;
  }
  .xl-pt-20 {
    padding-top: 20px !important;
  }
  .xl-pl-20 {
    padding-left: 20px !important;
  }
  .xl-pr-20 {
    padding-right: 20px !important;
  }
  .xl-pb-20 {
    padding-bottom: 20px !important;
  }
  .xl-ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px !important;
  }
  .xl-m-20 {
    margin: 20px !important;
  }
  .xl-mt-20 {
    margin-top: 20px !important;
  }
  .xl-ml-20 {
    margin-left: 20px !important;
  }
  .xl-mr-20 {
    margin-right: 20px !important;
  }
  .xl-mb-20 {
    margin-bottom: 20px !important;
  }
  .xl-mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .xl-p-30 {
    padding: 30px !important;
  }
  .xl-pt-30 {
    padding-top: 30px !important;
  }
  .xl-pl-30 {
    padding-left: 30px !important;
  }
  .xl-pr-30 {
    padding-right: 30px !important;
  }
  .xl-pb-30 {
    padding-bottom: 30px !important;
  }
  .xl-ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px !important;
  }
  .xl-m-30 {
    margin: 30px !important;
  }
  .xl-mt-30 {
    margin-top: 30px !important;
  }
  .xl-ml-30 {
    margin-left: 30px !important;
  }
  .xl-mr-30 {
    margin-right: 30px !important;
  }
  .xl-mb-30 {
    margin-bottom: 30px !important;
  }
  .xl-mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px !important;
  }
  .xl-p-40 {
    padding: 40px !important;
  }
  .xl-pt-40 {
    padding-top: 40px !important;
  }
  .xl-pl-40 {
    padding-left: 40px !important;
  }
  .xl-pr-40 {
    padding-right: 40px !important;
  }
  .xl-pb-40 {
    padding-bottom: 40px !important;
  }
  .xl-ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px !important;
  }
  .xl-m-40 {
    margin: 40px !important;
  }
  .xl-mt-40 {
    margin-top: 40px !important;
  }
  .xl-ml-40 {
    margin-left: 40px !important;
  }
  .xl-mr-40 {
    margin-right: 40px !important;
  }
  .xl-mb-40 {
    margin-bottom: 40px !important;
  }
  .xl-mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px !important;
  }
  .xl-p-50 {
    padding: 50px !important;
  }
  .xl-pt-50 {
    padding-top: 50px !important;
  }
  .xl-pl-50 {
    padding-left: 50px !important;
  }
  .xl-pr-50 {
    padding-right: 50px !important;
  }
  .xl-pb-50 {
    padding-bottom: 50px !important;
  }
  .xl-ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px !important;
  }
  .xl-m-50 {
    margin: 50px !important;
  }
  .xl-mt-50 {
    margin-top: 50px !important;
  }
  .xl-ml-50 {
    margin-left: 50px !important;
  }
  .xl-mr-50 {
    margin-right: 50px !important;
  }
  .xl-mb-50 {
    margin-bottom: 50px !important;
  }
  .xl-mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }
  .xl-p-60 {
    padding: 60px !important;
  }
  .xl-pt-60 {
    padding-top: 60px !important;
  }
  .xl-pl-60 {
    padding-left: 60px !important;
  }
  .xl-pr-60 {
    padding-right: 60px !important;
  }
  .xl-pb-60 {
    padding-bottom: 60px !important;
  }
  .xl-ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px !important;
  }
  .xl-m-60 {
    margin: 60px !important;
  }
  .xl-mt-60 {
    margin-top: 60px !important;
  }
  .xl-ml-60 {
    margin-left: 60px !important;
  }
  .xl-mr-60 {
    margin-right: 60px !important;
  }
  .xl-mb-60 {
    margin-bottom: 70px !important;
  }
  .xl-mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px !important;
  }
  .xl-p-70 {
    padding: 70px !important;
  }
  .xl-pt-70 {
    padding-top: 70px !important;
  }
  .xl-pl-70 {
    padding-left: 70px !important;
  }
  .xl-pr-70 {
    padding-right: 70px !important;
  }
  .xl-pb-70 {
    padding-bottom: 70px !important;
  }
  .xl-ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px !important;
  }
  .xl-m-70 {
    margin: 70px !important;
  }
  .xl-mt-70 {
    margin-top: 70px !important;
  }
  .xl-ml-70 {
    margin-left: 70px !important;
  }
  .xl-mr-70 {
    margin-right: 70px !important;
  }
  .xl-mb-70 {
    margin-bottom: 70px !important;
  }
  .xl-mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px !important;
  }
  .xl-p-80 {
    padding: 80px !important;
  }
  .xl-pt-80 {
    padding-top: 80px !important;
  }
  .xl-pl-80 {
    padding-left: 80px !important;
  }
  .xl-pr-80 {
    padding-right: 80px !important;
  }
  .xl-pb-80 {
    padding-bottom: 80px !important;
  }
  .xl-ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px !important;
  }
  .xl-m-80 {
    margin: 80px !important;
  }
  .xl-mt-80 {
    margin-top: 80px !important;
  }
  .xl-ml-80 {
    margin-left: 80px !important;
  }
  .xl-mr-80 {
    margin-right: 80px !important;
  }
  .xl-mb-80 {
    margin-bottom: 80px !important;
  }
  .xl-mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px !important;
  }
  .xl-p-90 {
    padding: 90px !important;
  }
  .xl-pt-90 {
    padding-top: 90px !important;
  }
  .xl-pl-90 {
    padding-left: 90px !important;
  }
  .xl-pr-90 {
    padding-right: 90px !important;
  }
  .xl-pb-90 {
    padding-bottom: 90px !important;
  }
  .xl-ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px !important;
  }
  .xl-m-90 {
    margin: 90px !important;
  }
  .xl-mt-90 {
    margin-top: 90px !important;
  }
  .xl-ml-90 {
    margin-left: 90px !important;
  }
  .xl-mr-90 {
    margin-right: 90px !important;
  }
  .xl-mb-90 {
    margin-bottom: 90px !important;
  }
  .xl-mtb-90 {
    margin-top: 90px;
    margin-bottom: 90px !important;
  }
  .xl-p-100 {
    padding: 100px !important;
  }
  .xl-pt-100 {
    padding-top: 100px !important;
  }
  .xl-pl-100 {
    padding-left: 100px !important;
  }
  .xl-pr-100 {
    padding-right: 100px !important;
  }
  .xl-pb-100 {
    padding-bottom: 100px !important;
  }
  .xl-ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px !important;
  }
  .xl-m-100 {
    margin: 100px !important;
  }
  .xl-mt-100 {
    margin-top: 100px !important;
  }
  .xl-ml-100 {
    margin-left: 100px !important;
  }
  .xl-mr-100 {
    margin-right: 100px !important;
  }
  .xl-mb-100 {
    margin-bottom: 100px !important;
  }
  .xl-mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px !important;
  }
}


/*======================================*/
@media (min-width: 0) {
    .xs-text-center {
        text-align: center !important
    }

    .xs-text-left {
        text-align: left !important
    }

    .xs-text-right {
        text-align: right !important
    }
}

@media (min-width: 480px) {
    .sm-text-center {
        text-align: center !important
    }

    .sm-text-left {
        text-align: left !important
    }

    .sm-text-right {
        text-align: right !important
    }

    .sm-bdr-left {
        border-left: 1px solid #4587c6;
    }
}

@media (min-width: 768px) {
    .md-text-center {
        text-align: center !important
    }

    .md-text-left {
        text-align: left !important
    }

    .md-text-right {
        text-align: right !important
    }
}

@media (min-width: 992px) {
    .lg-text-center {
        text-align: center !important
    }

    .lg-text-left {
        text-align: left !important
    }

    .lg-text-right {
        text-align: right !important
    }
}

@media (min-width: 1600px) {
    .xl-text-center {
        text-align: center !important
    }

    .xl-text-left {
        text-align: left !important
    }

    .xl-text-right {
        text-align: right !important
    }
}