/*---------------------------------------------------
   Main style stylesheet
   project:       Remote- One Page Parallax
   Version:       1.0
   Author:        mezo10
   primary use:   Creative
-----------------------------------------------------*/

/*----------------------------------------------------
body
  +loading page
  +navbar
  +header section'
  +about section
  +services section
  +skills section
  +say section
  +team section
  +facts section
  +work section
  +twitter section
  +help section
  +clients section
  +price section
  +subscribe section
  +blog section
  +purchase section
  +partners section
  +contact section
  +scroll to top button

------------------------------------------------------*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato';
}

a:focus,
a:hover{
    outline: none;
    text-decoration: none;
}

.fa {
    font-family: 'FontAwesome';
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5{
    /*font-family: 'Raleway', sans-serif;*/ 
}
.p-0{
    padding: 0 !important;
}
.pt-50{
    padding-top: 50px !important;
}

.pb-50{
    padding-bottom: 50px !important;
}

.p-50{
    padding: 50px !important;
}
.w-100
{
    width: 100% !important;
}
.txt-white{
    color:#fff !important;
}
.txt-theme{
    letter-spacing: 0.3px;
  text-align: justify;
  color: #ed193a;
}
.banner{
    background-image: url(../images/banner1.jpg);
    padding: 60px 0;
    background-size: cover;
}
.banner h1{
    margin: 0;
    text-align: center;
    font-weight: 700;  
    background: -webkit-linear-gradient(#FFC107, #1cd3e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading{
    position: relative;
    font-weight: 500;
    font-size: 50px;
    color: #333;
    margin-bottom: 60px;
    margin-top: 0;
    text-align: center;
}

.heading span{
    font-weight: 100;
    font-size: 40px;
}


.a-btn{
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
    transform: perspective(1px)translateZ(0px);
    transition: all 0.3s ease 0s;
}

.a-btn:before{
    content: "";
    background: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0 ;
    transition: transform 0.4s ease-out;
    z-index: -1;
}

.a-btn:hover:before{
    transform: scaleX(1)
}
.btn-artwork{
        position: absolute;
    right: 14px;
    z-index: 11;
    display: block;
    width: 255px;
    height: 72px;
    background-color: #ed193ae0;
    border: solid 3px #ed193a;
    border-radius: 0;
    color: #fff;
    line-height: 66px;
    font-size: 20px;
    top: -42px;
    font-weight: 600;
    transform: perspective(1px)translateZ(0px);
}
.btn-artwork:hover{

background-color: #ed193a;
    color: #fff;

}



.btn-ex-partner{
    position: relative;
    right: 0;
    display: block;
    width: 100%;
    height: 99px;
    background-color: #ed193a;
    border: solid 3px #ed193a;
    border-radius: 0;
    color: #fff;
    padding: 22px 12px;
    font-size: 16px;
    font-weight: 600;
    transform: perspective(1px)translateZ(0px);
}
.btn-ex-partner:hover{
    color: #fff;
    background-color: #d81634;

}



.user{
    position: relative;
    right: 0;
    float: right;
    top: -186px;
    display: block;
    width: 224px;
    height: 72px;
    background-color: #ed193a;
    border: solid 3px #ed193a;
    border-radius: 0;
    color: #fff;
    line-height: 66px;
    font-size: 20px;
    font-weight: 600;
    transform: perspective(1px)translateZ(0px);
}
.user:hover{
    background-color: #ed193a;
    border: solid 3px #ed193a;
    border-radius: 0;
    color: #fff;
}



.para{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 2px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-family: Lato;
}
.para> span{
    font-size: 24px;
}
/*----------------------------------------------------
Start Section Loading
----------------------------------------------------*/
.loading-overlay {
    background:#fff;
    color:#222;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999
}

.loading {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
}

.loading > div {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

.loading > div > div {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ff8c00;
    top: 10px;
    left: 10px;
    transform-origin: 20px 20px;
    border-radius: 8px;
    animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c2 {
    top: 10px;
    left: auto;
    right: 10px;
    transform-origin: -4px 20px;
    animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c3 {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    transform-origin: -4px -4px;
    animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c4 {
    top: auto;
    bottom: 10px;
    transform-origin: 20px -4px;
    animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
    0%   { transform: rotate(90deg); }
    0%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-b {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    25%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-c {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    50%  { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-d {
    0%   { transform: rotate(90deg); }
    25%  { transform: rotate(90deg); }
    50%  { transform: rotate(180deg); }
    75%  { transform: rotate(270deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}


.loading > span {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: 30px;
    color: #ff8c00;
    font-size: 12px;
    text-align: center;
}
/*----------------------------------------------------
End Section Loading
----------------------------------------------------*/

.baner{
    padding: 150px 0;
}

.baner a{
    text-align: center;
    color: #333;
    display: block;
    margin-top: 20px;
    font-weight: 400;
    overflow: hidden;
}

.baner img{
    transition: all 0.5s ease-in-out;
}

.baner img:hover{
    transform: scale(1.05)
}

.baner a:hover{
    color: #ffb400;
}
/*----------------------------------------------------
Start Section header
----------------------------------------------------*/
.header { 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    border-radius: 0; 
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #ed193a;
} 

.navbar-brand {
    height: auto;
    display: block;
    font-size: 28px;
    line-height: 30px;
    color: #ffb400;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
} 

.navbar-brand:hover, 
.navbar-brand:focus {
    color: #ffb400;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.header .navbar-nav { 
    margin: 0;
    float: right;
}  

.header .navbar-nav li a {
    padding: 30px 0 5px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
    transition: border-bottom 0.8s ease-in-out;
}

.header .navbar-nav li a:hover,
.header .navbar-nav li a:focus{
    background: none;
} 

.header .navbar-nav li.active a {
    color: #ffb400;
    border-bottom: 3px solid #ffb400;
}

.header .navbar-toggle { 
    margin-top: 20px;
    padding: 10px;
}

.header .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px; 
}

.header.shrink {
    position: fixed;
    top: 0;
    background-color: #ed193a;
    box-shadow: 0 10px 25px -15px #999;
} 

.header.shrink .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header.shrink .navbar-nav li a {
    padding-top: 20px;
    color: #555;
}

.header.shrink .navbar-nav li.active a {
    color: #ffb400;
    border-bottom: 3px solid #ffb400;
}

.header.shrink .navbar-toggle { 
    margin-top: 10px;
    padding: 10px;
}

.header.shrink .navbar-toggle .icon-bar{
    background-color: #333;
}
/*----------------------------------------------------
end Section header
----------------------------------------------------*/

/*----------------------------------------------------
start section home for default page
----------------------------------------------------*/
.home{
    height: 600px;
    background-image: url('../images/85.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.home .overlay{
    background-color: rgba(0,0,0,0.7);
    height: 600px;
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0;
}

.home .overlay .title h1 span{
    color: #ffb400;
    font-weight: 600;
}

.home .overlay .title p{
    line-height: 1.6em;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}
.home .overlay .title .a-btn{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    background-color: transparent;
    color: #fff
}

.home .overlay .title .a-btn:hover{
    color: #333;
}

/*----------------------------------------------------
end section home for default page
----------------------------------------------------*/

/*----------------------------------------------------
start section video-container for video page
----------------------------------------------------*/
.video-container{
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-background{
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -100
}

.video-container .overlay{
    background-color:rgba(0,0,0,0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;      
}

.video-container .overlay .title h1{
    font-size: 45px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0;
}

.video-container .overlay .title h1 span{
    color: #ffb400;
    font-weight: 600;
}

.video-container .overlay .title p{
    line-height: 1.6em;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}
.video-container .overlay .title .a-btn{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
    background-color: transparent;
    color: #fff
}

.video-container .overlay .title .a-btn:hover{
    color: #333;
}
/*----------------------------------------------------
end section video-container for video page
----------------------------------------------------*/

/*----------------------------------------------------
start section slider for slider page
----------------------------------------------------*/
.slider{
    height: auto;
    margin-top: 62px;
}

.slider .container-fluid{
    padding: 0;
}

.slider .item{
    height: 420px;
}

.slider .item .overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: rgba(0,0,0,0.75); */
    /*background-image: linear-gradient(to top, #faa519, #ed193a);*/
    background-image: linear-gradient(to top, #eeeeee, #f02256);
    opacity: 0.87;
    height: 100%;
    color: #fff;
    cursor: default;
}

.slider .first{
    background-image: url(../images/85.jpg);
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider .second{
    background-image: url(../images/about.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .third{
    background-image: url(../images/city-sunny-people-street.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .overlay .title h1{
    margin: 0;
    font-family: Lato;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: left;
    color: #ffffff;

}

.slider .overlay .title h1 span{
    color: #ffb400;
    font-weight: 600;
}

.slider .overlay .title p{
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;

}
.slider .overlay .title .a-btn{
    border-radius: 0;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    float: left;
    background-color: #29beee;
    border: 0;
    width: 172px;
    height: 50px;
    line-height: 31px;
    text-align: center;
    font-size: 20px;
}

.slider .overlay .title .a-btn:hover{
    color: #333;
}

.slider .owl-dots{
    position: absolute;
    bottom: 10px;
    width: 100%;
    justify-content: center;   
}

.overlay-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4b0c85;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    left: 4%;
    font-size: 40px;
}

.overlay-menu a {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 21px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
}
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;    
    left: 4%;
}
.overlay-menu a:hover, .overlay-menu a:focus {
    color: #ffba00;
}
.toggle-overlay {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 4%;
    top: 20%;
    color: #fff;
}

@media screen and (max-height: 450px){
    .overlay-menu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay-menu a {
        font-size: 20px;
    }

}
/*----------------------------------------------------
end section slider for slider page
----------------------------------------------------*/

/*----------------------------------------------------
Start Section about
----------------------------------------------------*/
.about{
    padding: 70px 0;
}

.about .image,
.about .words{
    margin-bottom: 30px;
}

.about .words h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about .words p{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.about .words .a-btn{
    font-weight: 400;
    background-color: #ffb400;
    color: #fff;
    border-color: #ffb400;
    margin-top: 20px;
    display: inline-block;
}

.about .words .a-btn:before{
    background-color: #333;
}

.about .words .a-btn:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #333;
}
/*----------------------------------------------------
end Section about
----------------------------------------------------*/

/*----------------------------------------------------
start Section video
----------------------------------------------------*/
.video{
    background-image: url(../images/85.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.video .overlay{
    background-color: rgba(0,0,0,0.7);
    padding: 70px 0;
}

.video h2{
    color: #fff;
    margin-bottom: 30px;
}

.video .fa {
    color: #ffb400;
    background-color: #fff;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 5px;
}

.video .fa:hover{
    color: #fff;
    background-color: #ffb400;
}
/*----------------------------------------------------
end Section video
----------------------------------------------------*/

/*----------------------------------------------------
start Section services
----------------------------------------------------*/
.services{
    text-align: center;
    background-color: #f7f7f7;
}

.services .overlay{
    padding: 70px 0;
}

.services .item{
    margin-bottom: 30px;
    padding: 50px 30px;
    background-color: #fff;

    box-shadow: 0 5px 30px -5px #ccc;
}

.services .item:hover{
    box-shadow: 0 8px 30px -5px #888;
}

.services .item .fa{
    font-size: 40px;
    color: #ffb400;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.services .item h3{
    color: #333;
    font-size: 25px;
    font-weight: 600;
}

.services .item:hover h3{
    color: #ffb400
}

.services .item p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
/*----------------------------------------------------
end Section services
----------------------------------------------------*/

/*----------------------------------------------------
start Section skills
----------------------------------------------------*/
.skills{
    position: relative;
}

.skills .back-div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: url(../images/pexels-photo-434645.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills h1{
    text-align: left;
    margin-bottom: 30px;
}

.skills p{
    color: #333;
    font-weight: 400;
    line-height: 25px;
    word-spacing: 2px;
    margin-bottom: 30px;
}

.skills .progress-bar{
    font-weight: 400;
    font-size: 14px;
    background-color: #ffb400;
}

.skills .progress-bar .left{
    float: left;
    margin-left: 5px;
}

.skills .progress-bar .right{
    float: right;
    margin-right: 5px;
}
/*----------------------------------------------------
end Section skills
----------------------------------------------------*/

/*----------------------------------------------------
start Section say
----------------------------------------------------*/
.say{
    background-image: url(../images/85.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.say .overlay{
    background-color: rgba(0,0,0,0.85);
    padding: 100px 0;
}

.say p{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: 0 10%;
    word-spacing: 2px;
}

.say p .fa{
    color: #888
}

.say h5{
    text-align: center;
    color: #ffb400;
    margin-top: 30px;
    font-size: 18px;
}
/*----------------------------------------------------
end Section say
----------------------------------------------------*/

/*----------------------------------------------------
Start Section team
----------------------------------------------------*/
.team{
    padding: 70px 0;
    text-align: center;
}

.team .area{
    position: relative;
}

.team .item{
    margin: 0 20px;
    padding-bottom: 50px;

}

.team .item:focus{
    outline: none;
}

.team .item img{
    margin: 0 auto;
}

.team .item h5{
    color: #444;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.team .item span{
    color: #666;
    font-weight: 300;
    font-size: 14px;
}

.team .item p{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-top: 5px;
}

.team .item .fa{
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: #333;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
}

.team .item .fa:hover{
    color: #fff;
}

.team .item .fa-facebook:hover{
    background-color: #4867aa
}  

.team .item .fa-twitter:hover{
    background-color: #1da1f2
}

.team .item .fa-youtube:hover{
    background-color: #ff0000
}

.team .item .fa-linkedin:hover{
    background-color: #007bb6
}

.team .controllers .prev{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-80%)
}

.team .controllers .next{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(80%)
}


.team .controllers span{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
}

.team .controllers span:hover{
    background-color: #ffb400;
    color: #fff;
    border-color: #ffb400;
}
/*----------------------------------------------------
end Section team
----------------------------------------------------*/

/*----------------------------------------------------
start Section facts
----------------------------------------------------*/
.facts{
    background-image: url(../images/85.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.facts .overlay{
    padding: 70px 0;
    background-color: rgba(0,0,0,0.8);
}

.facts .item{
    margin-bottom: 30px;
}

.facts .fa{
    color: #fff;
    font-size: 35px;
}

.facts h4{
    color: #fff;
    font-size: 35px;
    color: #ffb400;
}

.facts p{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}
/*----------------------------------------------------
end Section facts
----------------------------------------------------*/

.artworks{
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #3e063a;
}

.p-0{
    padding:0;
}
.pl-0{
    padding-left:0;
}
.pr-0{
    padding-right:0;
}


/*----------------------------------------------------
start work section   
 ----------------------------------------------------*/
.work{
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #3e063a;
}

.work ul{
    list-style: none;
    margin-bottom: 30px;
}

.work ul li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #555;
    font-weight: 400;
    border: 1px solid transparent;
}

.work .selected{
    color: #ffb400;
    border: 1px solid #ffb400;
    border-radius: 5px;
}

.work .work-area{
    position: relative;   
    width: calc(100% / 7);
    float: left;
}

.work .work-area .image{
    overflow: hidden
}

.work .work-area .image img{
    width: 100%;
    height: 150px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.work .work-area:hover .image img{
    transform: scale(1.05);
}

.work .work-area .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}
.work .work-area .overlay.orange{
    background-color: #ff4500c7 !important;
}

.work .work-area .overlay.orange .inner p{
    color:#fff !important;   
}

.work .work-area .overlay .inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
}

.work .work-area .overlay .inner h2{
    transform: translateY(-10px);
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.work .work-area .overlay .inner p{
    transform: translateY(10px);
    color: #ffb400;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}

.work .work-area:hover .overlay{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    opacity: 1;
}

.work .work-area:hover .overlay .inner h2,
.work .work-area:hover .overlay .inner p{
    transform: translateY(0);
}
/*----------------------------------------------------
end work section 
----------------------------------------------------*/

/*----------------------------------------------------
start clients section 
----------------------------------------------------*/
.clients{
    background-image: url(../images/6341.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients .overlay{
    padding: 70px 0;
    background-color: rgba(0,0,0,0.8);
}

.clients .heading{
    color: #fff;
}

.clients .overlay .item img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.clients .overlay .item p{
    color: #eee;
    font-size: 18px;
    line-height: 1.7em;
    margin: 0 10%;
    text-align: center;
}

.clients .overlay .item .fa{
    color: #ffb400;
    font-size: 20px;
}

.clients .overlay .item h4{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: #ffb400;
}
/*----------------------------------------------------
end clients section 
----------------------------------------------------*/

/*----------------------------------------------------
start twitter section 
----------------------------------------------------*/
.twitter{
    text-align: center;
    background-image: url(../images/city-sunny-people-street.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.twitter .overlay{
    background-color: rgba(0,0,0,0.75);
    padding: 70px 0;
}

.twitter .fa-twitter{
    color: #1da1f2;
    font-size: 40px;
    margin-bottom: 20px;
}

.twitter .item .fa{
    color: #aaa;
    font-size: 20px;
}

.twitter .item p{
    color: #eee;
    font-size: 18px;
    line-height: 30px;
    margin: 0 10%;
}

.twitter .item p span{
    color: #58bbff;
}

.twitter .item h4{
    color: #1da1f2;
    margin-top: 30px;
    font-size: 18px;
}

.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: transparent;
    border: 1px solid #ddd;
}

.owl-theme .owl-dots .owl-dot.active span{
    background-color: #ffb400;
    border: 1px solid #ffb400;
}
/*----------------------------------------------------
end twitter section 
----------------------------------------------------*/

/*----------------------------------------------------
start help section 
----------------------------------------------------*/
.help{
    padding: 0;
    background-color: #3e063a;
}
.help .row{
    margin-bottom: 30px;
}
/*.help .box{
    padding-right: 15px;
    padding-left: 0;
}
.help .box.left{
    padding-right:0;
    padding-left: 15px;
}

.help .box-img{
    padding-right: 0px;
    padding-left:15px; 
}
.help .box-img.left{
    padding-left: 0px;
    padding-right: 15px;
}*/
.help .colored{
    background-color: #f5f5f5; 
}
.help .box .item{
    padding: 30px;
    min-height: 320px;
    max-height: 320px;
}
.help .box .i1{
    background-color: #1bafd2;
} 
.help .box .i2{
    background-color: #05dc79;
}
.help .box .i3{
    background-color: #faa519;
}
.help .box .i4{
    background-color: #a519fa;
}
.help .box .i5{
    background-color: #d21b63;
}
.help .box .i6{
    background-color: #f05a22;
}

.help .box .item h3{
    font-family: Lato;
    font-size: 28px;
    /*font-weight: bold;*/
    letter-spacing: -0.6px;
    text-align: left;
    color: #ffffff;
    margin-top: 0px;
}

.help .box .item strong{
    color: #ffb400;
}

.help .box .item p{

    line-height: 20px;   
    margin: 20px 0 50px 0;
    font-weight: 500;
    font-family: Lato;
    font-size: 16px;  
    text-align: left;
    color: #ffffff;
}
.help .box .item span{

    line-height: 20px;   

    font-weight: 500;
    font-family: Lato;
    font-size: 16px;  
    text-align: left;
    color: #ffffff;
}

.help .box .item .a-btn{
    font-weight: 400;
    width: 182px;
    height: 46px;
    background-color: #ffffff00;
    border: solid 3px #ffffff;
    border-radius: 0;
    color: #fff;
}

.help .box .item .a-btn:before{
    background-color: #333;
}

.help .box .item .a-btn:hover{
    background-color: #3e063a;
    color: #fff;
    border: 3px solid #3e063a;
}
/*----------------------------------------------------
end help section 
----------------------------------------------------*/

/*----------------------------------------------------
start price section 
----------------------------------------------------*/
.price{
    padding: 70px 0;
    text-align: center;
    background-color: #f8f8f8;
}

.price .item{
    box-shadow: 0px 10px 35px -5px #bbb;
    margin-bottom: 30px;
    padding: 50px 0;
    background-color: #fff;
}

.price .item .price-box{
    padding-bottom: 20px;
    border-bottom: 1px solid #ffb400;
    margin: 0 10%;
    margin-bottom: 20px;
}

.price .item .price-box p{
    font-size: 30px;
    font-weight: 600;
}

.price .item .price-box strong{
    font-weight: 900;
    font-size: 50px;
    color: #ffb400;
}

.price .item:hover .price-box strong{
    color: #222;
}

.price .item p{
    color: #333;
    font-size: 16px;
    line-height: 1.6
}

.price .item .a-btn{
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
    background-color: #ffb400;
    color: #fff;
}

.price .item .a-btn:hover{
    background-color: transparent;
    border: 1px solid #333;
    color: #fff;
}

.price .item .a-btn:before{
    background-color: #333;
}
/*----------------------------------------------------
end price section 
----------------------------------------------------*/

/*----------------------------------------------------
start subscribe section 
----------------------------------------------------*/
.subscribe{
    background-image: url(../images/85.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.subscribe .overlay{
    background-color: rgba(0,0,0,0.75);
    padding: 70px 0;
}

.subscribe p{
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    word-spacing: 2px;
    text-align: center;
    margin: 0 10%;
    color: #fff;
    margin-bottom: 30px;
}

.subscribe .a-btn{
    color: #fff;
}

.subscribe .a-btn:hover{
    color: #333;
}
/*----------------------------------------------------
end subscribe section 
----------------------------------------------------*/

/*----------------------------------------------------
start blog section 
----------------------------------------------------*/
.blog{
    padding: 50px 0 0 0;
    /* background-color: #f7f7f7; */
    background-color: #3e063a;
}

.blog .blog-area{
    margin-bottom: 30px;
    background-color: #fff;

}
.blog .blog-area .box{
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 50px;
    right: 50px;
    border: solid 2.5px #ed193a;    
    padding: 20px 12px;
}
.blog .blog-area .blog-overlay{
    position: absolute;
    opacity: 0.85;
    top: 0;    
    bottom: 0;
    left: 0;
    right: 0;
}
.blog .blog-area .blog-overlay.first{
    background-color: #60e6b0;
}
.blog .blog-area .blog-overlay.second{
    background-color: #86e660;
}
.blog .blog-area .blog-overlay.third{
    background-color: #d8e660;
}
.blog .blog-area .blog-overlay.forth{
    background-color: #608ee6;
}
.blog .blog-area .blog-overlay.fifth{
    background-color: #e68860;
}
.blog .blog-area .blog-overlay.sixth{
    background-color: #60ace6;
}




.blog .blog-area .image{
    position: relative;
    overflow: hidden;
}

.blog .blog-area .image img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.blog .blog-area:hover img{
    transform: scale(1.1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.blog .blog-area .image .overlay .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.blog .blog-area .image .overlay .fa:hover{
    background-color: #ffb400;
    color: #fff;
}

.blog .blog-area .box span{
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Lato;
    font-size: 16px;
    /*letter-spacing: -0.3px;*/
    text-align: left;
    color: #ed193a;
}

.blog .blog-area .box span .fa{
    color: #ffb400;
    margin-right: 5px;
}

.blog .blog-area .box h1{
    margin-top: 10px;

    font-weight: 700;
    margin-bottom: 0;
    font-family: Lato;
    font-size: 22px;
    letter-spacing: 0.0px;
    text-align: left;
    color: #ed193a;
    word-spacing: 1px;
}

.blog .blog-area .box h1:hover{
    color: #ed193a;
}

.blog .blog-area .box p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #777;
    font-weight: 400;
    word-spacing: 2px;
}

.blog .blog-area .box .a-btn{
    font-size: 13px;
    padding: 10px 15px;
    background-color: #ffb400;
    color: #fff;
}

.blog .blog-area .box .a-btn:before{
    background-color: #333;
}

.blog .blog-area .box .a-btn:hover{
    background-color: transparent;
    border: 1px solid #333;
    color: #fff;
}
/*----------------------------------------------------
end blog section 
----------------------------------------------------*/

/*----------------------------------------------------
start purchase Section
----------------------------------------------------*/
.purchase{
    background-image: url(../images/6341.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.purchase .overlay{
    background-color: rgba(0,0,0,0.75);
    padding: 70px 0;
}

.purchase p{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.purchase .a-btn{
    color: #fff;
}

.purchase .a-btn:hover{
    color: #333;
}
/*----------------------------------------------------
end purchase Section
----------------------------------------------------*/

/*----------------------------------------------------
start partners Section
----------------------------------------------------*/
.partners{
    padding: 70px 0;
    background-color: #f7f7f7;
}

.partners img{
    opacity: 0.4;
    margin: 15px 0px;
    max-width: 100%;
    cursor: pointer;
}

.partners img:hover{
    opacity: 1
}
/*----------------------------------------------------
end partners Section
----------------------------------------------------*/

.music-player{
    padding: 70px 0;
    background-color: #3e063a;
}
.play-list{
        background-image: url(../../client_resource/images/music-2.png);
    background-color: #270e25;
    background-size: cover;
    display: inline-block;
    padding: 10px;
}



/*----------------------------------------------------
start contact-me Section
----------------------------------------------------*/
.contact {
    padding: 70px 0;
    text-align: center;
}

.contact .item{
    margin-bottom: 30px;
}

.contact .item .fa{
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #555;
    border-radius: 50%;
}

.contact .item h5{
    font-size: 22px;
    color: #333;
    margin: 20px 0 10px 0;
}

.contact .item p{
    color: #555;
    font-size: 15px;
}

.contact-form {
    border-radius: 3px;
}

.contact-form .form-group{
    margin-bottom: 30px;
    position: relative;
}

.contact-form .form-group span{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

.contact-form .form-group label{
    position: absolute;
    left: 30px;
    top: 45px;
    color: #ffb400;
    font-size: 16px;
}
.control-lbl{
    font-size: 15px;
    line-height: 1.88;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    font-weight: 400;
}
.radio-inline{
    color:#fff;
}
.btn-upload{
    background-color: #6f0f6a;
    width: 200px;
    height: 184px;
    border: 0;
}
.control{
    display: block;
    border: 0 !important;

    border-bottom: 1.5px solid #b71bae !important;
    width: 100%;
    height: 30px !important;
    font-size: 15px !important;
    padding: 0 !important;
    color: #fdfdfd !important;

    background-image: none;
    border-radius: 0 !important;
    box-shadow: none;
    font-weight: 300;
    line-height: 45px;
    background-color: #3e063a;
}
.control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6f0f6a;
    text-align: left
}
.control::-moz-placeholder { /* Firefox 19+ */
    color: #6f0f6a;
}
.control:-ms-input-placeholder { /* IE 10+ */
    color: #6f0f6a;
}
.control:-moz-placeholder { /* Firefox 18- */
    color: #6f0f6a;
}


.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #f04731;
    border-radius: 3px;
    background-color: #fff0;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #f05a22;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #f04731;
    border-radius: 50%;
    background-color: #fff0;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #f05a22;

    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

.reg-qst{
    list-style-type: none;
    padding: 0;
    color: #f05a22;


}
.btn-register{
    width: 240px;
    height: 38px;
    background-color: #f05a22;
    border-radius: 0;
    color:#fff;
}
.btn-register:hover{
    width: 240px;
    height: 38px;
    background-color: #e4511a;
    border-radius: 0;
    color:#fff;
}
/********************  LOGIN *****************/
.login-box{
    width: 350px;
    margin: 10px auto;
}
.login-form{
    padding: 52px;
    border: 1px solid #b71bae;
}
.btn-login{
    display: block;
    width: 100%;
    height: 38px;
    background-color: #f05a22;
    border-radius: 0;
    color:#fff;
}
.btn-login:hover{       
    background-color: #e4511a;    
    color:#fff;
}

.form-group {
    margin-bottom: 25px !important;
}

.form-control {
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 0;
    color: #222;

    background-image: none;
    border-radius: 4px;
    box-shadow: none; 
    font-weight: 300;
    line-height: 45px;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    color: #fff;
    font-size: 14px;
    background: #ffb400;
    border: none;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
    outline: none;
    box-shadow: none;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 25px;
}

.contact-form input[type='submit']:hover {
    border: 2px solid #ffb400;
    color: #222;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}
/*----------------------------------------------------
end contact-me Section
----------------------------------------------------*/

/*----------------------------------------------------
start social-icon-div
----------------------------------------------------*/
.social-icon-div{
    background-color: #111;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #888;
}

.social-icon-div i{
    margin-top: 20px;
    color: #333;
    margin-right: 10px;
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-icon-div i:hover{
    color: #fff;
    background-color: #ffb400;
    border: 1px solid #ffb400;
}

.social-icon-div p{
    color: #fff;
    font-weight: 400;
}
/*----------------------------------------------------
end social-icon-div
----------------------------------------------------*/

/*----------------------------------------------------
start scroll-top div
----------------------------------------------------*/
#scroll-top {
    width:40px;
    height:40px;
    color:#fff;
    background-color:#444;
    text-align:center;
    position:fixed;
    border-radius: 50%;
    right:15px;
    bottom:10px;
    z-index:9999;
    display: none;
    cursor:pointer;
    padding: 10px;
}

#scroll-top:hover {
    background-color:#ffb400;
}

#scroll-top i{
    line-height: 15px;
}
.owl-item  .item .overlay .title{
    padding: 0 15%;
    font-family: 'Lato', sans-serif;
    text-align: left;
}
.owl-item  .item .overlay .title h3{
    margin:0;
}
/*----------------------------------------------------
end scroll-top div
----------------------------------------------------*/

/* ************* START MENTOR DETAIL **************** */


.mentor-details{
    padding: 0px 0 0 0;   
    background-color: #3e063a;

}

.mentor-details h2{
    color: #fff;
    text-align: left;
}
.mentor-details a{
    color: #ed193a;
}
.mentor-details p{   
    font-size: 16px;
    text-align: justify;
    color: #fff;
    line-height: 1.67;
    letter-spacing: 0.1px;
}
.mentor-sub h3{
    color: #fff;
    text-align: left;   
}
.mentor-sub{
    margin-bottom: 10px;
}
.mentor-sub p{
    font-size: 14px;
    text-align: justify;
    color: #fff;
    line-height: 24px;  
    letter-spacing: 0.1px;
}
.nav-tabs.theme-tab > li.active > a{

    border: 0;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    background-color: #3e063a;
    color: #f05a22;
    border-bottom: 3px solid #f05a22;
}
.nav-tabs.theme-tab{
    border:0;
}
.nav-tabs.theme-tab > li > a{

    border: 0;
    padding: 10px 0;
    margin-right: 20px;
    cursor: poiner;
    background-color: #3e063a;
    color: #f05a2299; 
}
/* ************* START ARTIST DETAIL **************** */


.artists-details{
    padding: 0px 0 0 0;   
    background-color: #3e063a;

}

.artists-details h2{
    color: #fff;
    text-align: left;
}

.artists-details p{   
    font-size: 15px;
    text-align: justify;
    color: #fff;
    line-height: 28px;
}

/* ************* START HAPPENING DETAIL **************** */

.happening-details{
    padding: 0px 0 0 0;   
    background-color: #3e063a;

}

.happening-details h2{
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.5px;   
    background-color: #bb19ed;
    box-shadow: 0 2px 4px 0 #4a035d;
    position: relative;
    color: #ffffff;
    display: inline;
    padding: 15px 50px;
    top: -17px;
    white-space: nowrap;
}
.happening-details h4{   
    font-size: 17px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    color: #f05a22;
}
.cdetail{   
    font-size: 16px;
    color: #ffffff7d;
    letter-spacing: 0.5px;
}
.happening-details p{   
    font-size: 16px;   
    text-align: justify;
    color: #fff;
    line-height: 1.67;
    letter-spacing: 0.1px;
}
.happening-details a{  
    text-align: left; 
    font-size: 15px;   
    color: #d21b63;
}

/* ************* END HAPPENING DETAIL **************** */


/* ************* START HAPPENING FILTER **************** */

.happening-filter{
    padding: 0px 0 0 0;   
    background-color: #3e063a;

}
.filter-blog{
    background-color: #3e073b;
    border: solid 2px #770971;  
    margin-top: 30px;
    padding: 10px;
}
.filter-blog select{
    /*color: #6a0064;*/
    color: #fff;
    margin: 10px 0;
    background-color: #3e063a;
    border-radius: 0;
    border: 2px solid #770971;
    height: 40px;
}
.search-happenings-btn{
    background-color: #ed193a;
    border: 1px solid #ed193a;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.3px;
    padding: 10px;
    display: block;
    margin: 7px;
    text-align: center;
    text-transform: uppercase;
}

.search-happenings-btn:hover{
    background-color: #d21431;
    color:#fff;
}
/* ************* END HAPPENING FILTER **************** */


/* ------------------------------- chngae from this ----------------------------------------------------- */

/* ************* START PARTNER DETAILS **************** */

.partner-details h2{
    color: #fff;
    text-align: left;
}
.partner-details h4{
    color: #fff;
    text-align: left;
}
.partner-details h5{
    color: #fff;
    text-align: left;
}
.partner-details p{
    font-size: 16px;
    text-align: justify;
    color: #fff;
    line-height: 1.67;
    letter-spacing: 0.1px;
}

.bg-theme{        
    background-color: #3e063a;

}
.partner-blog{
    background-color: #1bafd2;
    padding: 20px;
}
.partner-blog h4{
    margin-top: 0;
    color:#fff;
    padding: 10px 0;
    font-size: 24px;
    letter-spacing: 0.1px;
    text-align: left;
}
.partner-blog p{        
    color:#fff;
    font-size: 14px;
    line-height: 1.30;
    letter-spacing: 0.2px;
    text-align: justify;
    word-spacing: 1px;
}
.partner-list{
    color:#fff;
    padding-left: 30px;
    font-size: 15px;
    line-height: 28px;
}

.profile img{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 5%;
    top: 5%;
}
.menu-cp{
    color:#fff;
    padding: 10px 0;
}
/* ************* END PARTNER DETAILS **************** */


@media only screen and (max-width: 768px){
    .navbar-brand{
        padding: 25px 70px;
    }
    .art img{
        width: 100%;
    }
    .partner-blog img{
        width: 100%;
        padding:10px 0;
    }
    .work .work-area {
        position: relative;
        width: calc(100% / 2);
        float: left;
    }
    .work .work-area .image img {
        width: 100%;
        height: auto;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .user {   
        top: 0;
        display: block;
        width: 100%;
    }
    .artworks img{
        height: 100% !important;
        width:100% !important;
    }
    .help .box .item{
        padding: 30px;
        min-height: 320px;
        max-height: 100%;
    }
}

.img-h-320{
    height: 320px;
    width: 100%;
}

/*************** FOOTER **********************/
.footer1 {
    background-color: #3e063a;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;/*	border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
}

.footer1 .input-group-addon{
    padding:0;
}
.btn-newslleter{
        background-color: #ed193a;
    border: 1px solid #ed193a;
    color: #fff;
    padding: 13px;
}
.footer-bg{
    background-color: #350532;
}

.title-widget {
    color: #ffffff;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 25px;
        text-align: left;
}
.widget-container a{
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff7d;

}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;


}
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}

.page-count{
    color:#fff;
    font-size: 14px;
}
.listnotfound{
    color:#fff;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
}






/************************************************************
*************************Footer******************************
*************************************************************/


.btn-p-art{
    background-color: #f05a22;
    border: 1px solid #f05a22;
    color: #fff;
    padding: 6px 22px;
    text-transform: uppercase;
}
.btn-p-art:hover{
    background-color: #f05a22;
    border: 1px solid #f05a22;
    color:#fff;
}
.artist-section img{
    display:inline;
    padding-bottom: 20px;
}
.artwork-detail-section h2{
        margin: 0;
    padding-bottom: 12px;
    font-size: 26px;
}
.artwork-detail-section p{
        letter-spacing: 1px;
}

.artworks img{
        transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.artworks img:hover{
        -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}
.gallery-section img{
    width:100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    
}
.gallery-section img:hover{
           -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}

