/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2017, 2:48:42 PM
    Author     : SANDIPK
*/

.angularjs-datetime-picker {
  color: #000;
  font: inherit;
  border: 1px solid #4aa9e9;
  display: inline-block;
  background: #ffffff;
  z-index:10000;
}
.angularjs-datetime-picker > .adp-month {
  text-align: center;
  line-height: 16px;
  padding: 10px;
  background: #4aa9e9;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 1px solid #ffffff;
  position: relative;
}
.angularjs-datetime-picker > .adp-month > button {
  color: #000;
  font: inherit;
  outline: none;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}
.angularjs-datetime-picker > .adp-month > button:hover {
  color: #fff;
}
.angularjs-datetime-picker > .adp-month > button.adp-prev-month {
  left: 30px;
  font-size: 20px;
  line-height: inherit;
}
.angularjs-datetime-picker > .adp-month > button.adp-prev-year {
  left: 10px;
  font-size: 20px;
  line-height: inherit;
}
.angularjs-datetime-picker > .adp-month > button.adp-next-month {
  right: 10px;
  font-size: 20px;
  line-height: inherit;
}
.angularjs-datetime-picker > .adp-month > button.adp-next-year {
  right: 30px;
  font-size: 20px;
  line-height: inherit;
}
.angularjs-datetime-picker > .adp-days {
  width: 210px; /* 30 x 7 */
  margin: 10px;
  text-align: center;
}
.angularjs-datetime-picker > .adp-days > .adp-day-of-week, .angularjs-datetime-picker > .adp-days > .adp-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid transparent;
  width: 30px;
  line-height: 28px;
  float: left;
}
.angularjs-datetime-picker > .adp-days > .adp-day-of-week {
  font-weight: bold;
}
.angularjs-datetime-picker > .adp-days > .adp-day:not(.selectable) {
  opacity: 0.15;
  cursor: default;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selectable  {
  cursor: pointer;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selected {
  background: #4aa9e9;
  border-radius:100px;
}
.angularjs-datetime-picker > .adp-days > .adp-day.selectable:hover {
  background: #4aa9e9;
  border-radius: 100px;
}
.angularjs-datetime-picker > .adp-days:after {
  content: '';
  display: block;
  clear: left;
  height: 0;
}

.angularjs-datetime-picker input[type=range] {
  width: 150px;
}

